{:down {:w [:cam-up]
        :a [:cam-left]
        :d [:cam-right]
        :s [:cam-down]
        :lshift [:modifier-down]
        :left [:lasso :hold-select]}
 :hit {:lshift [:modifier-up]
       :left [:select :release-lasso]
       :space [:debug-switch-time]
       :n [:next-turn]
       :i [:inventory]
       :g [:game]
       :f1 [{:type :select-player
             :index 0}]
       :f2 [{:type :select-player
             :index 1}]
       :f3 [{:type :select-player
             :index 2}]
       :f4 [{:type :select-player
             :index 3}]
       :f5 [{:type :select-player
             :index 4}]
       :f6 [{:type :select-player
             :index 5}]}}
