{:down {:w [:cam-up]
        :a [:cam-left]
        :d [:cam-right]
        :s [:cam-down]
        :lshift [:modifier-down]
        :left [:lasso]}
 :hit {:lshift [:modifier-up]
       :left [:select :release-lasso]}}
