{:long-sword ["Weapons" [32 0 32 32]]
 :javelin ["Weapons" [32 32 32 32]]

 :goblin-slave ["Goblins" [0 0 32 32]]

 :stair-down ["Features" [0 0 32 32]]
 :stair-up ["Features" [32 0 32 32]]
 :door-open ["Features" [96 0 32 32]]
 :door-closed ["Features" [128 0 32 32]]

 :fists ["Skill" [0 0 32 32]]
 :dagger ["Skill" [32 0 32 32]]
 :sword ["Skill" [64 0 32 32]]
 :axe ["Skill" [96 0 32 32]]
 :throwing ["Skill" [128 0 32 32]]
 :blunt ["Skill" [160 0 32 32]]
 :staff ["Skill" [192 0 32 32]]
 :polearm ["Skill" [224 0 32 32]]
 :bow ["Skill" [0 32 32 32]]
 :sling ["Skill" [32 32 32 32]]
 :sorcery ["Skill" [64 32 32 32]]
 :theology ["Skill" [96 32 32 32]]
 :lore ["Skill" [128 32 32 32]]
 :healing ["Skill" [160 32 32 32]]
 :persistence ["Skill" [192 32 32 32]]
 :resistance ["Skill" [224 32 32 32]]
 :athletics ["Skill" [0 64 32 32]]
 :perception ["Skill" [32 64 32 32]]
 :acrobatics ["Skill" [64 64 32 32]]
 :shield ["Skill" [96 64 32 32]]
 :stealth ["Skill" [128 64 32 32]]
 :pyromancy ["Skill" [160 64 32 32]]
 :necromancy ["Skill" [192 64 32 32]]
 :psionics ["Skill" [224 64 32 32]]
 :mechanisms ["Skill" [0 96 32 32]]


 :selected ["Misc" [0 0 32 32]]
 :bread ["Misc" [32 32 32 32]]
 :gold ["Misc" [64 32 32 32]]
 :green-flag ["Misc" [0 64 32 32]]
 :yellow-flag ["Misc" [32 64 32 32]]
 :red-flag ["Misc" [64 64 32 32]]

 :blank ["Gui" [0 0 32 32]]
 :block ["Gui" [32 0 32 32]]
 :helm ["Gui" [64 0 32 32]]
 :char ["Gui" [96 0 32 32]]
 :inventory ["Gui" [128 0 32 32]]
 :book ["Gui" [160 0 32 32]]
 :bulb ["Gui" [192 0 32 32]]
 :wait ["Gui" [224 0 32 32]]
 :map ["Gui" [256 0 32 32]]
 :scroll-up ["Gui" [0 32 32 32]]
 :scroll-down ["Gui" [32 32 32 32]]
 :turn ["Gui" [64 32 32 32]]
 :combat ["Gui" [96 32 32 32]]
 :peace ["Gui" [128 32 32 32]]
 :potion ["Gui" [160 32 32 32]]
 :boost ["Gui" [192 32 32 32]]
 :scroll ["Gui" [224 32 32 32]]

 :mouse ["Mouse" [0 0 32 32]]
 :mouse-select ["Mouse" [32 0 32 32]]
 :mouse-attack ["Mouse" [64 0 32 32]]
 :mouse-attack-grey ["Mouse" [96 0 32 32]]


 :dwarf-female ["Dwarf" [0 0 32 32]]
 :dwarf-male ["Dwarf" [32 0 32 32]]

 :human-female ["Human" [0 0 32 32]]
 :human-male ["Human" [32 0 32 32]]

 :castle/floor ["CastleDungeon" [0 0 32 32]]
 :castle/wall1 ["CastleDungeon" [0 32 32 32]]
 :castle/wall2 ["CastleDungeon" [32 32 32 32]]
 :castle/wall3 ["CastleDungeon" [64 32 32 32]]
 :castle/wall4 ["CastleDungeon" [96 32 32 32]]
 :castle/wall5 ["CastleDungeon" [128 32 32 32]]}